@use '../../styles/colors.scss' as *;

.searchContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: sticky;
    top: 1rem;
    z-index: 10;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    .searchArea {
        display: flex;
        width: 100%;
        align-items: center;
        padding: .8rem 1rem;
        box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .1);
        column-gap: 1rem;
        border-radius: 5px;


        @media screen and (min-width: 768px) {
            width: 500px;
        }

        .serchIcon {
            font-size: 1.7rem;

            &:hover {
                cursor: pointer;
            }
        }

        .homeInput {
            width: 100%;
            padding: .3rem .3rem .3rem 0;
        }
    }

    .drop_down_container {
        width: 220px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        position: relative;

        .drop_down_current {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .1);
            border-radius: 5px;
            padding: .95rem 1rem;

            &:hover {
                cursor: pointer;
            }
            .drop_down_icon{
                font-size: 1.3rem;
            }
        }

        .options {
            width: 100%;
            box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .1);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 4rem;

            .region {
                &:hover {
                    cursor: pointer;
                    background: $Dark-Blue-dark-mode-background;
                    color: $General-white;
                }
            }

            .option {
                padding: .8rem 1rem;
                width: 100%;
            }
        }
    }
}